{#
SPDX-FileCopyrightText: 2025 Thomas Breitner

SPDX-License-Identifier: MIT
#}

{# Generate header row based on configured features #}
| {% for feature in features %}{{ column_headers.get(feature, feature) }}{% if not loop.last %} | {% endif %}{% endfor %} |
| {% for feature in features %}{{ "-" * (column_headers.get(feature, feature)|length) }}{% if not loop.last %} | {% endif %}{% endfor %} |
{% for info in loginfos %}| {% for feature in features %}

{%- if feature == "timestamp" -%}
{{ info.timestamp.strftime(timestamp_format) }}

{%- elif feature == "author" -%}
{{- info.author -}}

{%- elif feature == "message" -%}
{{ info.message }}

{%- elif feature == "commit_hash_link" -%}
{%- if info.get_file_remote_url -%}
    [{{ info.hash_short }}]({{ info.get_hash_url }})
{%- else -%}
    {{ info.hash_short }}
{%- endif -%}


{%- elif feature == "file_link_git_repo" -%}
{%- if info.get_file_remote_url -%}
    [{{ info.filepath }}]({{ info.get_file_remote_url }})
{%- else -%}
    {{ info.filepath }}
{%- endif -%}

{%- elif feature == "page_path_link" -%}
{%- if info.get_file_local_url -%}
    [{{- info.filepath -}}]({{ info.get_file_local_url }})
{%- else -%}
    {{ info.filepath }}
{%- endif -%}

{%- else -%}
{{ info[feature] }}

{%- endif %}{% if not loop.last %} | {% endif %}
{%- endfor %} |
{% endfor %}
