# SPDX-FileCopyrightText: 2023 Thomas Breitner
#
# SPDX-License-Identifier: CC0-1.0

site_name: mkdocs-git-latest-changes-plugin
repo_url: https://github.com/tombreit/mkdocs-git-latest-changes-plugin
strict: true
plugins:
  - git-latest-changes
